input.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
  }

.produto {
    position: relative;
    width: 200px;
    height: 200px;
}

.produto img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.produto:hover img {
    transform: scale(1.2);
}

.produto-details {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    transition: opacity 0.3s;
}

.produto:hover .produto-details {
    display: block;
    opacity: 1;
}

.produto-details p {
    margin-top: 50%;
    transform: translateY(-50%);
}



@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: inline;
  }


  #aside {
    display: none;
  }
}

@media (min-width: 767px) {
  .show-on-mobile {
    display: none;
  }
}
