<div class="row">
    <div class="col-md-1 hide-on-mobile">
        
    </div>
    <div class="col-md-5 col-12">
        <div class="card">
            <div class="card-header primary-btn">
              Já é nosso cliente ?
            </div>
            <div class="card-body">
                <form>
                    <label for="login" >Email</label>
                    <input type="text" class="form-control" id="loginAutentica">
                    <label for="senha" >Senha</label>
                    <input type="password" class="form-control" id="senhaAutentica">
                    <a href="#" class="btn black-btn alinhaTabela" id="btnAutentica">Entrar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-12">
        <div class="card">
            <div class="card-header primary-btn">
              Ainda não sou cliente.
            </div>
            <div class="card-body">
                <form>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="nomeCad" >Nome</label>
                        <input type="text" class="form-control" id="nomeCad">
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="emailCad" >Email</label>
                        <input type="text" class="form-control" id="emailCad">
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="senhaCad" >Senha</label>
                        <input type="password" class="form-control" id="senhaCad">
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="confSenhaCad" >Confirmação de senha</label>
                        <input type="password" class="form-control" id="confSenhaCad">
                    </div>                       
                </div>
                <a href="#" class="btn black-btn alinhaTabela">Criar cadastro</a>    
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1 hide-on-mobile">
        
    </div>
      
</div>