{% extends 'blankLoja.html'%}

{% load static %}

{% block 'breadcrumb' %}
    <h3 class="breadcrumb-header">Meu Carrinho</h3>
    <ul class="breadcrumb-tree">
        <li><a href="/checkout/">Carrinho</a></li>
        <li class="active">Identificação</li>
        <!-- <li><a href="#">Endereço</a></li> -->
        <li><a href="#">Pagamento</a></li>
        <li><a href="#">Confirmação</a></li>							
    </ul>
{% endblock %}

{% block 'conteudo'%}
    {% include 'formLoginCadastroUser.html' %}
    
{% endblock %} 
{% block 'js' %} 
    <script src="{% static 'js/meuJs/pedidos/carregaPedidos.js' %}"></script> 
    <script src="{% static 'js/meuJs/autenticacao/autenticaPedido.js' %}"></script>    
   
    <script src="{% static 'js/meuJs/pedidos/gerarPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/carrinho/addItem.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/delItem.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/removeItemCarrinho.js' %}"></script>
{% endblock %} 