{% extends 'baseLoja.html'%}

{% load static %}

{% block 'conteudo'%}

<!-- SECTION -->
<div class="section" >
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
                <div class="col-12 show-on-mobile">
                    <a id="aside-toggle" onclick="toggleAside()"><i class="fa-solid fa-bars"></i></a>
                </div>
                <!-- ASIDE -->
                <div id="aside" class="col-md-3 hide-on-mobile">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title" id="divCategorias">Categorias</h3>
                        <div class="checkbox-filter" id="filtroCategorias">
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Preço</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title" id="divMarcas">Marcas</h3>
                        <div class="checkbox-filter" id="filtroMarcas">
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <a class="btn btn-dark" id="btnFiltrar">Filtrar</a>
                </div>
                <div id="paginationControls"></div>                

                <!-- /ASIDE -->
                <!-- CONTEUDO -->
                <div class="col-md-9" id="container">
                    <div id="loading" style="display: none;">
                        <img src="{% static 'img/loading.gif' %}" alt="Loading...">
                    </div>
                </div>


                <div id="loading-overlay">
                    <div id="loading-spinner"></div>
                  </div>
                <!-- /CONTEUDO -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->     


{% endblock %} 
{% block 'js' %} 
    <script src="{% static 'js/meuJs/categorias/categorias.js' %}"></script>
    <script src="{% static 'js/meuJs/categorias/filtrar.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/adicionaCarrinho.js' %}"></script>
{% endblock %} 