{% extends 'blankLoja.html'%}

{% load static %}

{% block 'breadcrumb' %}
    <h3 class="breadcrumb-header">Meu Carrinho</h3>
    <ul class="breadcrumb-tree">
        <li class="active">Carrinho</li>
        <li><a href="/autenticacao/identificacao/">Identificação</a></li>
        <li><a href="#">Endereço</a></li>
        <li><a href="#">Pagamento</a></li>
        <li><a href="#">Confirmação</a></li>							
    </ul>
{% endblock %}

{% block 'conteudo'%}

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="itens" style="text-align: right;">
                    
                </div>
            </div>

            <div class="col-md-3 botaoFinalizarCompra">
                <a href="/autenticacao/identificacao/" class="btn primary-btn btnFinalizaCompra">Finalizar Compra</a>
            </div>

            <table class="table table-borderless" id="tabelaCarrinho">
                
            </table>

            <div class="col-md-3">
                <a href="/home/" class="btn danger-btn newsletter-btn btnFinalizaCompra">Continuar comprando</a>
            </div>            

            <div class="col-md-6">
            </div>

            <div class="col-md-3">
                <a href="/autenticacao/identificacao/" class="btn primary-btn newsletter-btn btnFinalizaCompra">Finalizar Compra</a>
            </div>

        </div>
    </div>
</div>

{% endblock %} 
{% block 'js' %} 
    <script src="{% static 'js/meuJs/pedidos/carregaPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/pedidos/gerarPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/carrinho/addItem.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/delItem.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/removeItemCarrinho.js' %}"></script>
{% endblock %} 