{% extends 'blankLoja.html'%}

{% load static %}

{% block 'breadcrumb' %}
    <h3 class="breadcrumb-header">Meu Cart</h3>
    <ul class="breadcrumb-tree">
        <li><a href="#">Carrinho</a></li>
        <li><a href="#">Identificação</a></li>
        <li><a href="#">Endereço</a></li>
        <li><a href="#">Pagamento</a></li>
        <li class="active">Confirmação</li>							
    </ul>
{% endblock %}

{% block 'conteudo'%}
<div class="section">

    <div class="container">
        <div class="row">
            <table class="table table-borderless" id="tabelaCarrinho">
                
            </table>
            <div class="col-md-12">
            </div>

            <div class="col-md-9">
            </div>

            <div class="col-md-3">
                <button class="btn primary-btn newsletter-btn btnFinalizaCompra">Finalizar Compra</button>
            </div>

        </div>
    </div>
</div>

{% endblock %} 
{% block 'js' %} 
    <script src="{% static 'js/meuJs/pedidos/carregaPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/pedidos/gerarPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/categorias/categorias.js' %}"></script>
    <script src="{% static 'js/meuJs/categorias/filtrar.js' %}"></script>
{% endblock %} 