<div class="card">
    <div class="card-header primary-btn">
      Endereço
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label for="cep" >CEP</label>
                    <input type="text" class="form-control" id="cep">
                </div>
                <div class="col-md-12">
                    <label for="rua" >Rua</label>
                    <input type="text" class="form-control" id="rua">
                </div>
                <div class="col-md-6">
                    <label for="numero">Nº</label>
                    <input type="text" class="form-control" id="numero">
                </div>                
                <div class="col-md-6">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento">
                </div>
                <div class="col-md-12">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro">
                </div>  
                <div class="col-md-6">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade">
                </div>                                                                  
                <div class="col-md-6">
                    <label for="uf">Estado</label>
                    <input type="text" class="form-control" id="uf">
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn black-btn alinhaTabela" id="calcFrete">Calcular Frete</a>
                </div>  
            </div>
        </form>
    </div>
</div>