{% extends 'blankLoja.html'%}

{% load static %}

{% block 'script' %}
<!-- Importa a biblioteca qrcode-generator -->
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="https://assets.pagar.me/pagarme-js/4.5/pagarme.min.js"></script>

{% endblock %}

{% block 'breadcrumb' %}
    <h3 class="breadcrumb-header">Meu Carrinho</h3>
    <ul class="breadcrumb-tree">
        <li><a href="/checkout/">Carrinho</a></li>
        <li><a href="/autenticacao/identificacao/">Identificação</a></li>
        <!-- <li><a href="#">Endereço</a></li> -->
        <li class="active">Pagamento</li>
        <li><a href="#">Confirmação</a></li>							
    </ul>
{% endblock %}

{% block 'conteudo'%}

<div class="section">
    <div class = "container">
        <div class="panel-group" id="accordion">
            <!-- PIX -->
            <div class="panel">
              <div class="panel-heading accordion-title-red" >
                <h4 class="panel-title">
                  <i class="fa-brands fa-pix"></i>
                  <a data-toggle="collapse" data-parent="#accordion" href="#tabPix" style="color: #fff;">
                    Pix
                  </a>
                </h4>
              </div>
              <div id="tabPix" class="panel-collapse collapse">
                <div class="panel-body">
                    <!-- Form Pix -->
                    {% include 'pix.html' %}
                    <!-- /Form Pix -->
                </div>
              </div>
            </div>
            <!-- /Pix -->
            <!-- Crédito -->
            <div class="panel">
                <div class="panel-heading accordion-title-red" >
                    <h4 class="panel-title">
                        <i class="fa-solid fa-credit-card"></i>
                        <a data-toggle="collapse" data-parent="#accordion" href="#tabCredito" style="color: #fff;">
                        Crédito
                    </a>
                    </h4>
                </div>
                <div id="tabCredito" class="panel-collapse collapse">
                    <div class="panel-body">
                    <!-- Form Pix -->
                      {% include 'credito.html' %}
                    <!-- /Form Pix -->                    
                    </div>
                </div>
                </div>
                <!-- /Crédito -->
          <div class="panel">
            <div class="panel-heading accordion-title-red" >
              <h4 class="panel-title">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTree" style="color: #fff;">
                  Débito
                </a>
              </h4>
            </div>
            <div id="collapseTree" class="panel-collapse collapse">
              <div class="panel-body">
                Dados Cartão de Débito
            </div>
          </div>
          </div>
          <div class="panel">
            <div class="panel-heading accordion-title-red" >
              <h4 class="panel-title">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="color: #fff;">
                  Boleto
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                Dados Boleto
            </div>
            </div>
          </div>              
          
      </div> <!-- end container -->
</div>
{% endblock %}
{% block 'js' %} 
    <script src="{% static 'js/meuJs/pedidos/carregaPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/pedidos/gerarPedidos.js' %}"></script>    
    <script src="{% static 'js/meuJs/carrinho/addItem.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/delItem.js' %}"></script>
    <script src="{% static 'js/meuJs/carrinho/removeItemCarrinho.js' %}"></script>
    <script src="{% static 'js/meuJs/checkout/pix.js' %}"></script>
    <script src="{% static 'js/meuJs/checkout/credito.js' %}"></script>
    <script src="{% static 'js/meuJs/checkout/desenhoCartao.js' %}"></script>
{% endblock %} 