{% extends 'base.html' %}

{% load static %}

{% block 'conteudo' %}
    <H3>Cadastro de Produtos</H3>
    <form id="produtos">
        <div class="row">
            <div class="form-floating mb-3 col-md-3">
                <input type="text" class="form-control" id="descricao" placeholder="Camiseta Polo">
                <label for="descricao">Descrição do produto</label>
            </div>
            <div class="form-floating mb-3 col-md-3">
                <input type="text" class="form-control" id="descricao" placeholder="Camiseta Polo">
                <label for="descricao">Descrição do produto</label>
            </div>
        </div>
    </form>
{% endblock %}     
